bash/.bash.symlink/.netrwhist
irssi/.irssi.symlink/away.log
irssi/.irssi.symlink/certs/*.pem
irssi/.irssi.symlink/certs/*.key
irssi/.irssi.symlink/certs/*.cer
vim/.vim.symlink/.netrwhist
vim/.vim.symlink/.swp/*.sw*
.DS_Store
ssh/.ssh.symlink/*
