.DS_Store
.file-index
bash/.bash.symlink/.netrwhist
config/.config.symlink/*
irssi/.irssi.symlink/away.log
irssi/.irssi.symlink/certs/*.cer
irssi/.irssi.symlink/certs/*.key
irssi/.irssi.symlink/certs/*.pem
ssh/.ssh.symlink/*
vim/.vim.symlink/.netrwhist
vim/.vim.symlink/.swp/*.sw*
