[submodule "vim/.vim/bundle/command-t"]
	path = vim/.vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/nerdcommenter"]
	path = vim/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/.vim/bundle/vim-coffee-script"]
	path = vim/.vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/.vim/bundle/scss-syntax"]
	path = vim/.vim/bundle/scss-syntax
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "vim/.vim/bundle/vim-rails"]
	path = vim/.vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/.vim/bundle/vim-jade"]
	path = vim/.vim/bundle/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "vim/.vim/bundle/vim-slim"]
	path = vim/.vim/bundle/vim-slim
	url = https://github.com/bbommarito/vim-slim.git
[submodule "vim/.vim/bundle/vim-irblack"]
	path = vim/.vim/bundle/vim-irblack
	url = git://github.com/wgibbs/vim-irblack.git
[submodule "vim/.vim/bundle/vim-matchit"]
	path = vim/.vim/bundle/vim-matchit
	url = https://github.com/edsono/vim-matchit.git
[submodule "vim/.vim/bundle/ctrlp"]
	path = vim/.vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/.vim/bundle/vim-markdown"]
	path = vim/.vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "vim/.vim/bundle/vim-railscasts"]
	path = vim/.vim/bundle/vim-railscasts
	url = https://github.com/jgdavey/vim-railscasts.git
[submodule "vim/.vim/bundle/vim-lettuce-colors"]
	path = vim/.vim/bundle/vim-lettuce-colors
	url = https://github.com/zalun/vim-lettuce-colors.git
[submodule "vim/.vim/bundle/vim-powerline"]
	path = vim/.vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
