snippet para
	<para>
	  ${1}
	</para>

snippet code
	<programlisting language="${1}">
	  ${2}
	</programlisting>

snippet erb
	<programlisting language="erb"><![CDATA[
	  ${1}
	]]></programlisting>

snippet screen
	<screen>
	  ${1}
	</screen>
